/*Перебитые*/
.btn{border-radius: 4px !important; transition: all .2s ease !important;}
.portfolio.front .top_wrapper_block{padding-bottom: 0;}
.question_frame{opacity: 0; display: none; z-index: -1; margin-left: -250px;}
.question_frame.is-active{display: block; opacity: 1; z-index: 3000;}

.btn.btn-default{margin: 0;}
.btn.fix{max-width: 250px; width: 100%; margin: 0 auto; display: block;}
.online-chat-root  button.primary{max-width: 250px!important; width: 100%!important; margin: 30px auto 0!important; display: block!important;}
.online-chat-root  button.primary:hover{background-color: #cf1c1c!important;}
.home-section{margin: 30px 0; color: #222222;}
.drag-block.container.home-section{border: none; margin: 60px 0; color: #222222;}
.drag-block.container.home-section .item-views.blocks{padding: 0;}
.drag-block.container.home-section.home-section_map{margin-bottom: 0;}
.home-section img{border: none; outline: none;}
.home-section h2.title{margin: 0 0 60px; font-weight: normal; text-align: center; text-transform: uppercase; line-height: 1.3;}

/*Карусель*/
.owl-carousel{position:relative;}
.owl-stage-outer{position:relative; overflow:hidden;}
.owl-stage{position:relative; overflow:hidden; display: flex;}
.owl-item{position:relative; overflow:hidden; display: flex; justify-content: center;}
.owl-next:before{background: url('https://laser.tweld.ru/bitrix/templates/aspro-allcorp2/images/svg/Arrow_right_large.svg') 17px 12px no-repeat;}
.owl-prev:before{background: url('https://laser.tweld.ru/bitrix/templates/aspro-allcorp2/images/svg/Arrow_left_large.svg') 14px 12px no-repeat;}
.owl-prev:before, .owl-next:before{content: ''; display: inline-block; height: 42px; width: 42px; }
.owl-prev, .owl-next{position: absolute; top: calc(50%  - 21px); cursor: pointer; background-color: #FFFFFF; border-radius: 50%; height: 42px; width: 42px; transition: all ease 0.3s; display: flex; justify-content: space-between; align-items: center;}
.owl-prev{left: 20px;}
.owl-next{right: 20px;}
.owl-next:hover, .owl-prev:hover{background-color: #b41818; color: #FFFFFF;}
.owl-next:hover:before{background-image: url('https://laser.tweld.ru/bitrix/templates/aspro-allcorp2/images/svg/Arrow_right_white_large.svg')}
.owl-prev:hover:before{background-image: url('https://laser.tweld.ru/bitrix/templates/aspro-allcorp2/images/svg/Arrow_left_white_large.svg')}


/*header*/
.header__content{display: flex; justify-content: space-between; align-items: center; padding: 0 16px;}
.header__content .unimach{width: 300px; position: relative;}
.header__content .unimach .unimach-img{width: 100%; height: auto;}
.header__contacts{display: flex; justify-content: flex-end; align-items: center;}
.header__contacts-phone{margin: 0 20px 0 40px;}
.header__contacts-tel{display: block; color: #333;}
.header__contacts-mail{color: #333;}
.menu-row{background-color: #424f60;}

/*Баннер*/
.banner-block{position: relative; text-align: center; padding: 50px 100px; box-sizing: border-box; color: #222222;}
.banner-block__info{position: relative; display: flex; justify-content: space-between; flex-wrap: wrap; margin-bottom: 20px;}
.banner-block__info-item{padding: 25px; box-sizing: border-box; text-align: left; width: calc(50% - 25px); margin-bottom: 50px; background-color: rgba(255,255,255,0.7);}
.banner-block__info-item p, .banner-block__info-item h4{margin: 0;}
h4.banner-block__item-title{margin-bottom: 15px; font-size: 24px;}
.banner-block__info-text{font-size: 18px;}
.banner-block h1.title{font-weight: bold; margin: 0 auto; color: #FFFFFF; text-transform: uppercase; max-width: 750px; line-height: 1.3;}
.banner-block__subtitle{color: #FFFFFF; font-size: 26px; margin: 10px 0 40px;}
.banner-block__background{position: absolute; left: 0; top: 0; width: 100%; height: 100%; z-index: -1;}
.banner-block__background:after{content: ''; position: absolute; left: 0; top: 0; width: 100%; height: 100%; background-color: rgba(74, 74, 74, 0.61);}
.banner-block__img-back{position: relative; width: 100%; height: 100%; object-fit: cover;}

.info-block{position: relative; display: flex; justify-content: space-between; margin-top: 15px; flex-wrap: wrap;}
.info-block__item{width: calc(33.33% - 10px); background-color: #edf0f3; display: flex; flex-direction: column; box-sizing: border-box; padding: 25px; justify-content: space-between;}

/*Преимущества*/
.drag-block.container.home-section.home-section_advantages{margin-bottom: 5px;}
.values{position: relative; display: flex; justify-content: center; flex-wrap: wrap;}
.values__item{position: relative; font-weight: bold; font-size: 20px; margin-bottom: 30px; width: 33.33%; padding: 0 10px; display: flex; justify-content: center;}
.values__item-content{position: relative; padding-left: 15px;}
.values__item-text{display: block;}
.values__item-content:before{content: ''; width: 1px; height: 100%; background-color: #222222; position: absolute; left: 0; top: 0;}

.advantages{position: relative; display: flex; justify-content: space-between; flex-wrap: wrap;}
.advantages__item{position: relative; width: calc(50% - 25px); margin-bottom: 25px; display: flex;}
.advantages__img{position: relative; padding-right: 15px; display: flex; align-items: center;}
.advantages__img-border{display: flex; overflow: hidden; align-items: center; justify-content: center; position: relative; border: 1px solid #222222; border-radius: 10px; background: #FFFFFF; height: 120px; width: 260px; flex-shrink: 0;}
.advantages__img-border img{max-width: 100%; max-height: 100%;}
.advantages__text{position: relative; box-sizing: border-box; padding-left: 10px;}
.advantages__text-title{font-weight: bold;}

.advantages__item-all-width{position: relative; width: 100%; display: flex; justify-content: center; margin: 40px 0;}
.advantages__item-all-width__img img{max-width: 100%;}
.advantages__item-all-width__img.big{margin: 0 20px;}
.advantages__item-all-width__img.made{max-width: 160px; text-align: center;}
.advantages__item-all-width__text{display: block; margin-top: 5px; font-size: 12px; line-height: 1.2; font-weight: bold;}


/*Форма*/
.calculate-form{position: relative; box-sizing: border-box; padding: 50px; background-color: #edf0f3;}
.calculate-form h2.title{color: #b41818; margin-bottom: -20px; background-color: #edf0f3; position: relative;}

.calculate-links{position: relative; margin-top: 15px; display: flex; flex-wrap: wrap; justify-content: space-evenly;}
.calculate-links .btn{margin: 5px;}

/*Продукты*/
.drag-block.container.home-section.home-section_products{margin-bottom: 10px;}
.home-section_products .img_block_contain{background-size: 80%;}
.home-section_products .float-banners.v1 .item{background-color: #edf0f3;}

/*О компании*/
.about-block{position: relative; display: flex; justify-content: space-between; flex-wrap: wrap; align-items: center; margin: 30px 0 15px; padding: 0 50px;}
.about-block__item{position: relative; width: calc(50% - 15px); margin-bottom: 30px; box-sizing: border-box; padding: 10px 0 10px 30px;}
.about-block__item:before{content: ''; position: absolute; width: 1px; height: 100%; background-color: #222222; left: 0; top: 0;}
p.about-block__item-text{margin: 0;}

/*Примеры работ, О компании*/
.examples-slider, .about-slider{position: relative; background-color: #edf0f3; padding: 25px 80px;}
.examples-slider__item, .about-slider__item{width: 100%;}
.examples-slider__item img, .about-slider__item img{width: 100%; height: 100%; object-fit: cover;}

.examples-slider__item{position: relative; padding-bottom: 56.25%; height: 0; margin: 0 auto; overflow: hidden;}
.examples-slider__item iframe{position: absolute; top: 0; left: 0; width: 100%; height: 100%; border-width: 0; outline-width: 0;}

/*Прикрепление файла*/
.attach-file__input{opacity: 0; visibility: visible; position: absolute;}
.attach-file__button{position: relative; display: flex; align-items: center; cursor: pointer;}
.attach-file__img{width: 15px; margin-right: 5px;}

@media screen and (max-width: 1024px){
    .banner-block{padding: 50px;}
    .banner-block h1.title{max-width: 100%;}
    .info-block__item{width: 100%; flex-direction: row; align-items: flex-start;}
    .info-block__item .btn.fix{margin: 0; margin-left: 15px;}
    .info-block__item + .info-block__item{margin-top: 15px;}
    .header__contacts-phone{margin: 0 10px;}
    .advantages__item{width: 100%;}
}

@media screen and (max-width: 768px){
    .home-section h2.title{margin: 0 0 20px 0;}
    .banner-block{padding: 50px 25px; margin: 0 -16px 0 -16px;}
    .banner-block__info-item{width: calc(50% - 10px); margin-bottom: 20px;}
    .banner-block__info-text{font-size: 16px;}
    h4.banner-block__item-title{font-size: 20px;}
    .banner-block__subtitle{font-size: 22px;}
    .banner-block h1.title{font-size: 30px;}
    .home-section h2.title{font-size: 26px;}
    .about-block{padding: 0;}
    .advantages__item{width: 100%;}
    .calculate-form{padding: 25px;}
    .values__item{font-size: 16px;}

    .form .form-group{margin-bottom: 15px;}
    .form-control{height: auto;}
    .form .form-header{padding: 25px 15px 0;}
    .form.popup .form-header .text{padding: 0!important; text-align: center;}
    .form .form-header .title{margin-bottom: 0;}
    .calculate-form h2.title{margin-bottom: -20px;}
}

@media screen and (max-width: 600px){
    .banner-block__info-item{width: 100%; margin-bottom: 10px;}
    .info-block__item{flex-direction: column;}
    .info-block__item .btn.fix{margin: 0 auto;}
    .advantages__item-all-width{margin: 15px 0;}

    .about-block__item{width: 100%; margin-bottom: 15px;}
    .values__item{font-size: 14px;}
    .values__item-content{padding-left: 10px;}

    .question_frame{left: 0; width: 100%; margin-left: 0;}
    .advantages__item{flex-direction: column; align-items: center;}
    .advantages__text{padding-left: 0; padding-top: 10px; text-align: center;}
}

@media screen and (max-width: 550px){
    .calculate-form h2.title{margin-bottom: -20px;}
}

@media screen and (max-width: 425px){
    .btn.fix, .online-chat-root  button.primary{max-width: 100% !important;}
    .banner-block{padding: 25px 15px;}
    .banner-block__info-item{padding: 15px;}
    .info-block__item{padding: 15px;}
    h4.banner-block__item-title{font-size: 18px; margin-bottom: 10px;}
    .banner-block h1.title{font-size: 26px;}
    .info-block__item + .info-block__item{margin-top: 10px;}

    .advantages__img{padding-right: 10px;}
    .advantages__item-all-width{flex-wrap: wrap; align-items: center;}
    .advantages__item-all-width__img.big{order: 1; width: 100%;}

    .calculate-links .btn{margin: 5px 0; width: 100%;}

    .about-block__item{padding: 5px 0 5px 15px;}

    .examples-slider, .about-slider{padding: 25px;}
    .owl-prev{left: 5px;}
    .owl-next{right: 5px;}

    .calculate-form{padding: 25px 15px;}
    .portfolio.front .item .text .title{font-size: 13px;}
    .values__item{width: 100%; padding: 0; justify-content: flex-start; margin-bottom: 15px;}
    .values__item-text{display: inline-block;}
}
